.footer-container {
    background-color: #343232;
    color: #fff;
    padding: 2rem 5rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.footer-form {
    flex: 1;
    min-width: 280px;
}

.footer-form h3 {
    font-size: 22px;
    letter-spacing: 0.25px;
    font-weight: 500;
}

.footer-form input,
.footer-form textarea {
    width: 48%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    font-family: 'Public Sans', sans-serif;

}

.footer-form input:focus-visible,
.footer-form textarea:focus-visible {
    outline: none;
}

.footer-form textarea {
    resize: none;
    width: 100%;
    min-height: 70px;
}

.footer-form button {
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: white;
    background: #ff0d0d;
    box-shadow: 0px 1px 0px 1px #cd0303;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.footer-form button:hover {
    background-color: #cd0303;
}

.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 4rem;
}

.footer-links nav,
.container-social-icons,
.container-phone {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.footer-logo {
    height: 120px;

}

.footer-links ul,
.container-phone ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a,
.container-phone a {
    text-decoration: none;
    color: #cccccc94;
    transition: color 0.3s ease;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-links a:hover,
.container-phone a:hover {
    color: #fff;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    font-size: 2rem;
    color: #cccccc94;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 12px;
    color: #999;
}

.footer-content-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}


.title-footer {
    font-size: 15px;
    font-weight: 700;
}


.footer-form-info {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-form-contact form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
}

.footer-form-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.footer-form-contact img {
    height: 260px;
    box-shadow: 5px 5px 6px black;
    border-radius: 1rem;
}

.footer-form-contact {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform-origin: top;
    transform: scaleY(0);
    padding: 2rem 0;
    width: 97%;
}

.footer-form-contact-title {
    width: 100%;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.25px;
}

.footer-form-contact.open {
    max-height: 800px;
    opacity: 1;
    transform: scaleY(1);
}

.footer-form-toggle {
    cursor: pointer;
    display: flex;
    gap: 2rem;
    align-items: center;

    transition: color 0.3s ease;
    color: #cccccc94;
}

.footer-form-toggle:hover {
    color: white;
}

.footer-form-container {
    padding: 1rem 5rem;
}

.footer-form-toggle.open {
    color: white;
}


.success-message-title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.success-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}